/* Default (Light Theme) */
/* :root {
    --bg-color: #ffffff;
    --text-color: #2a2a2a;
    --navbar-bg: #ffffff;
    --navbar-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
    --dark-txt-color :black;
  } */
  
  
  /* Dark Theme */
  /* [data-theme="dark"] {
    --bg-color: #0e0d0d;
    --text-color: #ffffff;
    --navbar-bg: #0e0d0d;
    --navbar-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    --dark-txt-color :white;
  } */
  
  
